@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;

  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .font-space-mono-bold {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
  }
  
  .font-space-mono-regular {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
  }
  
  
  .roboto-light {
    font-family: "space-mono";
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
}
